body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #fdf1f4, #ffffff);
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #b03e5f;
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #b03e5f;
}

ul {
  padding: 0;
  margin: 20px auto;
  max-width: 800px;
  list-style-type: none;
}

li {
  background-color: #ffe6eb;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

li:hover {
  transform: translateY(-5px);
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #d97694, #b03e5f);
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
}

input[type="text"]::placeholder {
  color: #b03e5f;
  font-style: italic;
}

.cancel-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: darkgrey;
}

.submit-button {
  background: linear-gradient(to right, #b03e5f, #d97694);
  color: white;
  margin-left: 10px;
}

select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;

  /* Flèche custom */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22292%22%20height%3D%22292%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M287%2069.4L166.6%20189.8c-9.4%209.4-24.6%209.4-33.9%200L5%2069.4C-1.6%2062.8-1.6%2052.2%205%2045.6l22.6-22.6c6.6-6.6%2017.2-6.6%2023.8%200L146%20117.8%20240.6%2023.2c6.6-6.6%2017.2-6.6%2023.8%200L287%2045.6c6.6%206.6%206.6%2017.2%200%2023.8z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 1em auto;
}

select:focus {
  outline: none;
  border-color: #b56978; /* ou la couleur dominante de ton thème */
  box-shadow: 0 0 0 2px rgba(181, 105, 120, 0.2);
}


input.form-field,
select.form-field {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}